# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
config/settings/local.py

# Django test database
*.db

# Media files
media/

# Static files
static/

# Virtual environment
venv/

# Dependency directories
pip-wheel-metadata/
.venv/

# IDE-specific files
.vscode/
.idea/

# Logs
logs/
*.log

# Local enviroment variables
.env

# JavaScript/TypeScript packages
node_modules

# SSL certificate and key for local development
nginx/ssl/cert.pem
nginx/ssl/dev.pem
